@import 'nib'

$spacingDefault = 8px

body
  background: #000
  overflow: none

.viewport
  width: 600px
  height: 600px
  margin-left: (@width / -2)
  margin-top: (@height / -2)
  position: absolute
  left: 50%
  top: 50%