html(lang="en")
    head
        title= title
        link(rel='stylesheet', type='text/css', href='style/style.css')

        script(src='lib/main.js')
    body
        #container

        script(src='app.js')