html(lang="en")
    head
        title= title
        link(rel='stylesheet', type='text/css', href='style/style.css')

        script(src='lib/almond.js')
        script
            window.udefine = window.define
    body
        #container

        script(src='app.js')